/*
/.gitignore
!i3/
!fish/
!polybar/
!misc-config/
!README.md
!xfce4/terminal/
!noto-font.sh
!yay-dl.sh
!config-install.sh
!xfce4/
/xfce4/*
!xfce4/terminal/
/xfce4/terminal/*
!xfce4/terminal/terminalrc
*/.vim/*
*/.conky/*
